apiVersion: examplecnf.openshift.io/v1
kind: TestPMD
metadata:
  labels:
    app.kubernetes.io/name: testpmd-operator
    app.kubernetes.io/managed-by: kustomize
  name: testpmd-sample
spec:
  image_testpmd: registry.redhat.io/openshift4/dpdk-base-rhel8:v4.6.3-8
  size: 1
  ethpeerMaclist: ["20:04:0f:f1:89:01","20:04:0f:f1:89:02"]
  networks:
  - name: example-cnf-net1
    count: 2
