apiVersion: operators.coreos.com/v1alpha1
kind: ClusterServiceVersion
metadata:
  annotations:
    alm-examples: |-
      [
        {
          "apiVersion": "examplecnf.openshift.io/v1",
          "kind": "CNFAppMac",
          "metadata": {
            "name": "cnfappmac-sample"
          },
          "spec": {
            "hostname": "abcd1234",
            "node": "worker-25",
            "resources": [
              {
                "devices": [
                  {
                    "mac": "a1:b2:c3:d4:e5:f6",
                    "pci": "0000:01:00.1"
                  }
                ],
                "name": "intel/net1"
              }
            ]
          }
        }
      ]
    capabilities: Basic Install
    operators.operatorframework.io/builder: operator-sdk-v1.2.0
    operators.operatorframework.io/project_layout: go.kubebuilder.io/v2
  name: cnf-app-mac-operator.v0.2.2
  namespace: placeholder
spec:
  apiservicedefinitions: {}
  customresourcedefinitions:
    owned:
    - description: CNFAppMac is the Schema for the cnfappmacs API
      displayName: CNFApp Mac
      kind: CNFAppMac
      name: cnfappmacs.examplecnf.openshift.io
      version: v1
  description: Operator to monitor namespace for PODs with VF to get MAC address of VF
  displayName: CNF App MAC Fetch Operator
  icon:
  - base64data: ""
    mediatype: ""
  install:
    spec:
      deployments:
      - name: cnf-app-mac-operator-controller-manager
        spec:
          replicas: 1
          selector:
            matchLabels:
              control-plane: controller-manager
          strategy: {}
          template:
            metadata:
              labels:
                control-plane: controller-manager
            spec:
              containers:
              - args:
                - --enable-leader-election
                command:
                - /manager
                env:
                - name: WATCH_NAMESPACE
                  valueFrom:
                    fieldRef:
                      fieldPath: metadata.annotations['olm.targetNamespaces']
                image: quay.io/rh-nfv-int/cnf-app-mac-operator:v0.2.2
                imagePullPolicy: Always
                name: manager
                resources:
                  limits:
                    cpu: 100m
                    memory: 30Mi
                  requests:
                    cpu: 100m
                    memory: 20Mi
              terminationGracePeriodSeconds: 10
      permissions:
      - rules:
        - apiGroups:
          - ""
          resources:
          - configmaps
          verbs:
          - get
          - list
          - watch
          - create
          - update
          - patch
          - delete
        - apiGroups:
          - ""
          resources:
          - configmaps/status
          verbs:
          - get
          - update
          - patch
        - apiGroups:
          - ""
          resources:
          - events
          verbs:
          - create
          - patch
        - apiGroups:
          - batch
          resources:
          - jobs
          verbs:
          - create
          - delete
          - get
          - list
          - patch
          - update
          - watch
        - apiGroups:
          - examplecnf.openshift.io
          resources:
          - cnfappmacs
          verbs:
          - create
          - delete
          - get
          - list
          - patch
          - update
          - watch
        - apiGroups:
          - examplecnf.openshift.io
          resources:
          - cnfappmacs/status
          verbs:
          - get
          - patch
          - update
        - apiGroups:
          - k8s.cni.cncf.io
          resources:
          - network-attachment-definitions
          verbs:
          - get
          - list
          - watch
        serviceAccountName: default
    strategy: deployment
  installModes:
  - supported: true
    type: OwnNamespace
  - supported: true
    type: SingleNamespace
  - supported: false
    type: MultiNamespace
  - supported: true
    type: AllNamespaces
  keywords:
  - cnf
  - sriov
  - mac
  links:
  - name: Cnf App Mac Operator
    url: https://cnf-app-mac-operator.domain
  maintainers:
  - email: skramaja@redhat.com'
    name: '''Saravanan KR'
  maturity: alpha
  provider:
    name: Red Hat
  version: 0.2.2
