---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  name: trexconfigs.examplecnf.openshift.io
spec:
  group: examplecnf.openshift.io
  names:
    kind: TRexConfig
    listKind: TRexConfigList
    plural: trexconfigs
    singular: trexconfig
  scope: Namespaced
  versions:
  - name: v1
    schema:
      openAPIV3Schema:
        description: TRexConfig is the Schema for the trexconfigs API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: Spec defines the desired state of TRexConfig
            type: object
            properties:
              privileged:
                description: Run the container in privileged mode
                type: boolean
              imagePullPolicy:
                description: Image pull policy for the TRex server container
                type: string
                enum:
                - Always
                - IfNotPresent
                - Never
              size:
                description: Number of replicas for the TRex server deployment
                type: integer
                minimum: 1
              networks:
                description: List of NetworkAttachmentDefinitions to attach to the pod
                type: array
                items:
                  type: object
                  properties:
                    name:
                      description: NetworkAttachmentDefinition name (namespace/name or name)
                      type: string
                    count:
                      description: Number of interfaces to request from this network
                      type: integer
                      minimum: 1
                      default: 1
                    mac:
                      description: Optional list of MAC addresses, one per interface
                      type: array
                      items:
                        type: string
                    ip:
                      description: Optional list of IP addresses, one per interface
                      type: array
                      items:
                        type: string
              runDeployment:
                description: Whether to run the deployment automation (0 to disable, 1 to enable)
                type: integer
                enum:
                - 0
                - 1
              deploymentType:
                description: Deployment type for single-node or multi-node clusters
                type: string
                enum:
                - single-node
                - multi-node
              runtime_class_name:
                description: Optional RuntimeClass to use for the pod
                type: string
              numa_aware_topology:
                description: Optional scheduler name for NUMA-aware topology
                type: string
              environments:
                description: Optional environment variables for the TRex server container
                type: object
                properties:
                  trexCoreCount:
                    description: Optional number of cores to use for TRex (overrides default if set)
                    type: integer
            x-kubernetes-preserve-unknown-fields: true
          status:
            description: Status defines the observed state of TRexConfig
            type: object
            x-kubernetes-preserve-unknown-fields: true
        type: object
    served: true
    storage: true
    subresources:
      status: {}
